@using Conectai.Properties;
@using Conectai.Models.Data;
@model IList<EspacoPublico>
@{
	ViewBag.Title = Mensagens.STR_ESPACO_PUBLICO;
	ViewBag.historico = null;

	const int NUM_COLUNAS = 4;

	int numLinhasExtras = 10;

	if (Model != null)
	{
		if (Model.Count < numLinhasExtras)
		{
			numLinhasExtras = numLinhasExtras - Model.Count;
		}
		else
		{
			numLinhasExtras = 0;
		}
	}
}
@section scripts{
	<script src="~/Scripts/espacoPublico/index-1.0.js"></script>
}
@section navegacaoTopo
{
	@Html.Partial("../Shared/_BarraNavegacaoTopo")
}
<div class="row">
	<div class="col-md-4 col-md-offset-8" style="text-align: right; padding-bottom: 5px;">
		<a class="btn btn-default" href="@Url.Action( "Editar", "EspacoPublico" )"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;Novo&nbsp;</a>
	</div>
</div>
@if (Model.Count == 0)
{
	<div class="row" style="margin-top: 10px;">
		<div class="col-md-12">
			<div class="alert alert-warning" role="alert">
				<p class="text-center"><strong>@Mensagens.STR_NAO_EXISTEM_ESPACOS_PUBLICO_CADASTRADO</strong></p>
			</div>
		</div>
	</div>
}
else
{
	<table id="tabela-espaco-publico" class="table table-responsive table-bordered table-striped table-grid table-hover">
		<thead>
            <tr>
                <th>@Mensagens.STR_TITULO</th>
                <th>@Mensagens.STR_DETALHAMENTO</th>
                <th>@Mensagens.STR_DATA_LIMITE</th>
                <th title="@Mensagens.STR_ACOES">&nbsp;</th>
            </tr>
		</thead>
		<tbody>
			@foreach (var espacoPublico in Model)
			{
            <tr class="a-link-consultar">
                <td>@espacoPublico.Titulo</td>
                <td>@espacoPublico.Detalhamento</td>
                <td>@espacoPublico.DtLimiteDisponibilizacao</td>
                <td style="white-space:nowrap; text-align: right;">
                    <a class="a-link-editar" href="@Url.Action( "Editar", "EspacoPublico", new { id = @espacoPublico.Id } )" id="@espacoPublico.Id"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>&nbsp;editar</a>&nbsp;
                    <a class="a-link-excluir" href="@Url.Action( "Excluir", "EspacoPublico", new { id = @espacoPublico.Id } )" id="@espacoPublico.Id" data-titulo="@espacoPublico.Titulo"><i class="fa fa-trash" aria-hidden="true"></i>&nbsp;excluir</a>
                </td>
            </tr>
			}
			@for (int index = 0; index < numLinhasExtras; index++)
			{
				<tr>
					@for (int cols = 0; cols < NUM_COLUNAS; cols++)
					{
						<td>&nbsp;</td>
					}
				</tr>
			}
		</tbody>
		@Html.Partial("_CommonPaginacao", NUM_COLUNAS)
	</table>
	<form id="form-preencher-lista" action="@Url.Action( "Index", "EspacoPublico" )">
		<input type="hidden" name="nrPagina" />
	</form>
}