@using Conectai.Properties;
@using Conectai.Models.Data;
@model ImpostoUsuario
@{
	string txtAcao;

	ImpostoUsuario impostoUsuario = Model;

	bool bInclusao = (impostoUsuario.Id == ImpostoUsuario.ID_IMPOSTO_USUARIO_INVALIDO);

	if (bInclusao)
	{
		txtAcao = Mensagens.STR_INCLUIR_IMPOSTO_USUARIO;
	}
	else
	{
		txtAcao = Mensagens.STR_EDITAR_IMPOSTO_USUARIO;
	}
	ViewBag.Title = txtAcao;

}
@section scripts{
	<script src="~/Scripts/impostoUsuario/editar-1.0.js"></script>
}
@section navegacaoTopo
{
	@Html.Partial("../Shared/_BarraNavegacaoTopo")
}
<div class="panel panel-default" style="">
	<div class="panel-heading">@txtAcao</div>
	<div class="panel-body">

        <form id="form-editar-imposto-usuario" class="form-horizontal" method="post" action="@Url.Action( "Salvar", "ImpostoUsuario" )">
            <input type="hidden" name="Id" id="input-imposto-usuario-id" value="@impostoUsuario.Id">
            <hr />
            <div class="form-group">
                <label for="input-imposto-usuario" class="col-md-3 control-label">@Mensagens.STR_IMPOSTO<span class="text-danger">*</span></label>
                <div class="col-md-3">
                    <select class="form-control dados-tipo-imposto" id="input-tipo-imposto" name="IdTipoImposto">
                        <option value=@TipoImposto.ID_TIPO_IMPOSTO_INVALIDO>@Mensagens.STR_SELECIONE_TIPO_IMPOSTO</option>
                        @foreach (TipoImposto umTipoImposto in impostoUsuario.ArrTipoImposto)
                        {
                            <option value="@umTipoImposto.Id" @Shared.getHtmltemSelecionado(Html, impostoUsuario.TipoImposto.Id, umTipoImposto.Id)> @umTipoImposto.Sigla </option>
                        }
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="input-ano" class="col-md-3 control-label">@Mensagens.STR_ANO<span class="text-danger">*</span></label>
                <div class="col-md-7">
                    <input type="text" class="form-control" id="input-ano-imposto-usuario" name="NrAno" placeholder="@Mensagens.STR_ANO" value="@impostoUsuario.NrAno" maxlength="@ImpostoUsuario.TAM_MAX_ANO" autofocus="autofocus">
                </div>
            </div>
            <div class="form-group">
                <label for="input-cpf" class="col-md-3 control-label">@Mensagens.STR_CPF<span class="text-danger">*</span></label>
                <div class="col-md-7">
                    <input type="text" class="form-control" id="input-cpf-imposto-usuario" name="Cpf" placeholder="@Mensagens.STR_CPF" value="@impostoUsuario.Cpf" maxlength="@ImpostoUsuario.TAM_MAX_CPF" autofocus="autofocus">
                </div>
            </div>
            <div class="form-group">
                <label for="input-valor-imposto" class="col-md-3 control-label">@Mensagens.STR_VALOR<span class="text-danger">*</span></label>
                <div class="col-md-7">
                    <input type="text" class="form-control" id="input-valor-imposto-usuario" name="VlImposto" placeholder="@Mensagens.STR_VALOR" value="@impostoUsuario.VlImposto" autofocus="autofocus">
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-3">
                    <span class="text-danger form-control-static" style="font-size: .8em; text-align: right;">@Mensagens.STR_OBRIGATORIO</span>
                </div>
            </div>
            <hr />
            <div class="form-group">
                <div class="col-md-9 col-md-offset-3">
                    <button class="btn btn-default" id="button-salvar"><i class="fa fa-check" aria-hidden="true"></i>&nbsp;OK</button>
                    <a href="@Url.Action( "Index", "ImpostoUsuario" )" class="btn btn-default"><i class="fa fa-times" aria-hidden="true"></i>&nbsp;Cancelar</a>
                </div>
            </div>
        </form>
	</div>
</div>
