@using Conectai.Models.Data;
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutSistema.cshtml";
}
@{
    string usuario = (string)ViewBag.usuario;
    string estiloDivErro = "display: none;";
    string msgErro = string.Empty;

    if (ViewBag.erros != null)
    {
        estiloDivErro = string.Empty;
        //	pega somente o 1º erro
        foreach (string umErro in ViewBag.erros)
        {
            msgErro = umErro;
            break;
        }
    }
}
@section scripts{
    <script src="~/Scripts/login/index.js"></script>
}
<div class="container body-content">
    <div class="row" style="padding-top: 100px;">

        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-heading"><label>Acesso</label></div>
                <div class="panel-body">
                    <form id=form-login class="form-horizontal" method="post" action="~/Account/Login">
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-user-circle-o fa-fw"></i></span>
                                    <input class="form-control" data-toggle="tooltip" data-placement="left" title="Informe seu login" type="text" id="inputUsuario" name="Usuario" placeholder="Login" value="@usuario" autofocus="autofocus" maxlength="@LoginForm.MAX_TAM_CODIGO" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
                                    <input class="form-control" type="password" id="inputPassword" name="Senha" placeholder="Senha" maxlength="@LoginForm.MAX_TAM_SENHA" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4 col-md-offset-4">
                                <button id="btn-entrar" type="button" class="btn btn-default">Entrar&nbsp;<i class="fa fa-sign-in" aria-hidden="true"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="alert alert-danger div-msg-erro" role="alert" style="@estiloDivErro">
                <a href="#" class="alert-link"><span class="span-msg-erro">@Html.Raw(msgErro)</span></a>
            </div>
        </div>
    </div>
</div>