@using Conectai.Models.Data
@{
	Usuario usuario = (Usuario)Session["usuario"];
	string nomeUsuario;

	if ( usuario != null )
	{
		nomeUsuario = usuario.Nome;
		int pos = nomeUsuario.Length;
		if ( nomeUsuario.IndexOf( " " ) != -1)
		{
			pos = nomeUsuario.IndexOf( " " );
		}
		nomeUsuario = nomeUsuario.Substring(0, pos);
	}
	else
	{
		nomeUsuario = string.Empty;
	}
}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
	<title>Conectai</title>
	<link type="text/css" href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
	<link type="text/css" href="~/Content/css/bootstrap-datetimepicker.css" rel="stylesheet" />
	<link type="text/css" href="~/Content/css/font-awesome.min.css" rel="stylesheet" />
	<link type="text/css" href="~/Content/css/site-1.0.css" rel="stylesheet" />
	@RenderSection("styles", required: false)
	@Scripts.Render("~/bundles/jquery")
</head>
<body>
	<div class="navbar navbar-default navbar-fixed-top">
		<div class="container-fluid bg-success"> @*container --> largura com margem | container-fluid --> largura total*@
			<div class="navbar-header">
				<img src="~/Content/img/LogoCinza.png" style="margin: 20px 5px 0 20px;" />
			</div>
			<div class="navbar-header">
				<h4 class="navbar-text" style="margin-top: 30px; color:forestgreen">Descomplica Cidadão</h4>
			</div>

			<div class="navbar-header" style="margin-left: 60px;">
				<a class="links-nav-bar nav-item nav-link navbar-text text-center" id="a-rendimento" href="@Url.Action( "Index", "Cidadao" )"><i class="fa fa-user-circle-o fa-2x"></i><br />Para você cidadão</a>
				<a class="links-nav-bar nav-item nav-link navbar-text text-center" id="a-relatorio" href="@Url.Action( "Index", "EquipeCampo" )"><i class="fa fa-object-group fa-2x"></i><br />Para equipes de Campo</a>
				<a class="links-nav-bar nav-item nav-link navbar-text text-center" id="a-usuario" href="@Url.Action( "Index", "OrgaoMunicipal" )"><i class="fa fa-building-o fa-2x"></i><br />Para órgãos municipais</a>
			</div>

			@if (!string.IsNullOrEmpty(nomeUsuario))
			{
				<p class="navbar-text navbar-right" style="margin-top: 30px; margin-right:20px;">Olá, @nomeUsuario (@usuario.Perfil.Nome)&nbsp;|&nbsp;<a href="~/Account/Logoff">Sair</a></p>
			}
		</div>
	</div>
	<div class="container body-content">
		@RenderSection("navegacaoTopo", required: false)
		@RenderBody()
		<div class='modal' tabindex='-1' role='dialog' id="div-ajax-loading" style="display: none;">
			<div class='modal-dialog modal-sm' role='document'>
				<div class='modal-content'>
					<div class='modal-header'>
						<h4 class='modal-title'>Aguarde...</h4>
					</div>
					<div class='modal-body'></div>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid">
		@Html.Partial("../Shared/_Rodape")
	</div>
	@Scripts.Render("~/bundles/moment")
	@Scripts.Render("~/bundles/bootstrap")
	<script src="~/Scripts/Highcharts-4.0.1/js/highcharts.js"></script>
	<script src="~/Scripts/global/gCommonString.js"></script>
	<script src="~/Scripts/global/gCommonAjax.js"></script>
	<script src="~/Scripts/global/gCommon.js"></script>
	<script src="~/Scripts/global/gCommonRodape.js"></script>
	<script src="~/Scripts/global/gCommonSobre.js"></script>
	<script type="text/javascript">
		$( function ()
		{
			// Variável Global
			$.Portal_RAIZ = '@Url.Content("~")';

			loadStrings( $ );

			CommonAjax.ajaxInit( $ );
		} );
	</script>
	@RenderSection("scripts", required: false)
</body>
</html>
